<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>HMU App</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
    <script src="../static/js/jquery-1.11.2.js"></script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
    $(function() {
        $( ".dtpick" ).datepicker();
    });
    </script>
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Add Item</a>
                    </li>
                    <li role="presentation"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">HMU App</h3>
        </div>
        <section>
            <form class="form-horizontal" method="post" action="/addPost">
                <fieldset>
 
                    <!-- Form Name -->
                    <legend>Add a Post!</legend>
 
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Headline</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputHeadline" required type="text" placeholder="required" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Date input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Meetup Date</label>
                        <div class="col-md-4">
                            <form method="post" action="" placeholder="required">
                            {{ form.hidden_tag() }}
                            {{ form.dt(class="dtpick") }}
                            </form>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Meetup Time</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputMeetingTime" required type="text" placeholder="required" class="form-control input-md">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Meetup Location</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputLocation" required type="text" placeholder="required" class="form-control input-md">
                        </div>
                    </div>
 
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtPost">Description</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtPost" name="inputDescription" placeholder="Add an optional message!"></textarea>
                        </div>
                    </div>
 
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Post!" />
                        </div>
                    </div>
 
                </fieldset>
            </form>
 
        </section>
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>